* {
    font-family: 'Merriweather', serif;
}

p{
    font-size: 32px;
}

.container {
    display: grid; 
    grid-template-columns: 0.3fr;
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    justify-content: space-around; 
    align-content: center; 
    justify-items: center; 
 }

 .icon__css, .icon__javascript, .icon__sass, .icon__bootstrap{
    width: 128px;
    height: 128px;
 }
 @media screen and (max-width: 768px) {

    .container {
      display: grid; 
      grid-template-columns: 0.1fr; 
      grid-template-rows: 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "texto"
        "lenguajes"; 
    }

    .div1{
      grid-area: texto;
    }

    .div2{
      grid-area: lenguajes;
    }
  } 

 @media screen and (max-width: 480px) {

    .container {
      display: grid; 
      grid-template-columns: 0.1fr; 
      grid-template-rows: 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "texto"
        "lenguajes"; 
    }

    .div1{
      grid-area: texto;
    }

    .div2{
      grid-area: lenguajes;
    }
  } 